<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond Price Prediction</title>
    <link rel="stylesheet" href="../static/CSS/homestyle.css">
</head>
<body>
    <div class="container">
        <h1>Diamond Price Prediction</h1>
        <p>Accurately predict diamond prices using advanced machine learning models. Enter the details of a diamond to estimate its value instantly.</p>
        <button>
            <a href="/predict">Predict Price</a>
        </button>
    </div>
</body>
</html>
